.header {
    background-color: #646cff;
    color: white;
    font-size: 24px;
    padding: 20px;
}
.nav {
    display: flex;
    gap: 15px;
}
li {
    list-style: none;
}
.link {
    color: white;
    text-decoration: none;
}
.active {
    text-decoration: underline;
}